.hcontent{
    display: grid;
    width: 100%;
    height: 15vh;  
    grid-template-columns: 25% 25% 25% 25%;
    background-color: rgb(197, 216, 224);
}
.bcontent{
    width: 100%;
    height: 200vh;
    background-color: rgb(77, 78, 134);
    position: absolute;
    
}
.column1{
    text-align: right;
    
}